{% extends "base_generic.html" %}
{% load static %}
{% block content %}
	
	<div id="modal" class="appModal" style="display:none">
		<div class="row">
			<div class="col-sm text-center">
				<h4 id="modalTitle"></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<img id="successIcon" style="display:none" class="svgIcon"
				src="{% static 'images/success.svg' %}"
				height="87px"
				width="100px" />
				<img id="failureIcon" style="display:none" class="svgIcon" 
				src="{% static 'images/error.svg' %}"
				height="87px"
				width="100px" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm text-center">
				<p style="padding: 0px; margin: 0px" id="modalMessage"></p>
			</div>
		</div>
		
	</div>	
  <div class="main">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" action="#">
                <div>
                    <h3>Datos personales</h3>
                    <fieldset>
                        <h2>Datos personales</h2>
                        <p class="desc">Gracias por comenzar este viaje con nosotros. Para empezar, algunas preguntas básicas sobre ti</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Nombre</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="required"/>
                                        <span class="text-input">Nombres</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" />
                                        <span class="text-input">Primer Apellido</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="second_last_name" id="second_last_name" />
                                        <span class="text-input">Segundo Apellido(Opcional)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email" />
                                <span class="text-input">Ejemplo  :<span>  Jeff@gmail.com</span></span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="form-label">Telefono</label>
                                <input type="text" name="phone" id="phone" />
                                <span class="text-input">Ejemplo  :<span>+34 612 540 450</span></span>
                            </div>
                        </div>
                    </fieldset>

                    <h3>Información Adicional</h3>
                    <fieldset>
                        <h2>Información Adicional</h2>
                        <p class="desc">Gracias, (Nombre ingresado en el anterior paso aqui). Nos podrías facilitar estos datos adicionales?</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Estado Civil y Sexo</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <select  name="estado_civil" id="estado_civil" >
                                        	<option selected>Soltero</option>
                                        	<option>Casado</option>
                                        </select> 
                                        <span class="text-input">Estado Civil</span>
                                    </div>
                                    <div class="form-group">
                                        <select  name="Sexo" id="sexo" >
                                        	<option selected>Masculino</option>
                                        	<option>Femenino</option>
                                        </select> 
                                        <span class="text-input">Sexo</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-date">
                                <label for="birth_date" class="form-label">Fecha de Nacimiento</label>
                                <div class="form-date-group" id="fecha">
                                    <div class="form-date-item">
                                        <select id="birth_date" name="birth_date"></select>
                                        <span class="text-input">DD</span>
                                    </div>
                                    <div class="form-date-item">
                                        <select id="birth_month" name="birth_month"></select>
                                        <span class="text-input">MM</span>
                                    </div>
                                    <div class="form-date-item">
                                        <select id="birth_year" name="birth_year"></select>
                                        <span class="text-input">YYYY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="form-label">Ciudadanía y Dirección</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <select  name="estado_civil" id="ciudadania" >
                                        	<option selected>Si</option>
                                        	<option>No</option>
                                        </select> 
                                        <span class="text-input">Ciudadanía US? S/N</span>
                                    </div>
                                     <div class="form-group">
                                        <input type="text" name="direccion" id="direccion" />
                                        <span class="text-input">Dirección</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h3>Normativa</h3>
                    <fieldset>
                        <h2>Normativa</h2>
                        <p class="desc">Ahora, necesitamos algunas informaciones obligatorias para poder operar</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Tipo de documento y Numero</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <select  name="tipo_doc" id="documentType" >
                                        	<option selected>Pasaporte</option>
                                        	<option>Cédula</option>
                                        </select> 
                                        <span class="text-input">Tipo de documento</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="documentNumber" id="documentNumber" />
                                        <span class="text-input">Numero de documento</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="form-label">Cedula y Residencia</label>
                                <div class="form-flex">                                    
                                     <div class="form-group">
                                        <input id="cardInput" type="file"
										accept="image/png, image/jpeg" />
                                        <span class="text-input">Cédula</span>
                                    </div>
                                	<div class="form-group">
                                        <select  name="residencia" id="residencia" >
                                        	<option selected>Si</option>
                                        	<option>No</option>
                                        </select> 
                                        <span class="text-input">Residente legal en República Dominicana? S/N</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h3>Seguridad</h3>
                    <fieldset>
                        <h2>Seguridad</h2>
                        <p class="desc">Ya casi terminamos!! Pero la seguridad es lo primero, necesitamos asegurar que nadie suplante tu identidad. Puedes mirar a la cámara para hacer la validación?</p>
                        <div class="fieldset-content">
                           <img id="cardPreview" src="" alt="Image preview..." width="320" height="240">
                            <video playsinline id="video" width="320" height="240" onplay="onPlay(this)" muted autoplay></video>
							<div id="coDown"></div>
						</div>
                    </fieldset>
                   
                   <h3>Producto a contratar</h3>
                    <fieldset>
                        <h2>Producto a contratar</h2>
                        <p class="desc">Enhorabuena!! Cumples todos los requisitos para efectuar operaciones con nosotros. En qué producto estás interesado?</p>
                        <div class="fieldset-content">
                           <div class="form-row">
                                <label class="form-label">Producto?</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <select  name="productType" id="productType" >
                                        	<option selected>Pasaporte</option>
                                        	<option>Cedula</option>
                                        </select> 
                                        <span class="text-input">Tipo de producto a contratar</span>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="form-label">Explícanos brevemente tu necesidad</label>
                                <div class="form-flex">                                   
                                    <div class="form-group">
                                        <textarea type="text" name="necesidad" id="necesidad" ></textarea>
                                        <span class="text-input">Escribe aquí.</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

    </div>






			
{% endblock %}